:root{
    --fundo: #6959CD;
    --cartao-frente: #6495ED;
    --cartao-verso: #00008B;
    --destaque: #00FFFF;
    --preto: #000000;
    --branco: #ffffff;
    
}

body{
    background-color: var(--fundo);
    margin: 0%;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    display: flex;
    padding: 4rem;
    gap: 3rem;
    flex-wrap: wrap;
}